@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @media print {
        @page {
            size: auto;
            margin: 0mm;
        }

        body {
            margin: 10mm;
            -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
        }

        .no-print {
            display: none !important;
        }

        .print-only {
            display: block !important;
        }
    }
}